@use "sass:string";
@use "sass:meta";
@use "sass:list";

/// default color schemes
@mixin default_navbar_scheme() {
    background-color: #c14113;
    color: #c1bebb;
    @media (prefers-color-scheme: dark) {
        background-color: #0f1016;
        color: #c1bebb;
    }
}

@mixin default_items_scheme() {
    &:hover {
        background-color: #23170b;
    }
    @media (prefers-color-scheme: dark) {
        &:hover {
            background-color: #a95e0e;
        }
    }
}

@mixin default_dropdown_scheme() {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    @include default_navbar_scheme();
    .link {
        border-block-end: 1px solid #41455c;
    }
}

/// Hamburger Icon
@mixin hamburger-menu-icon($checkbox_selector, $width: 1.4em, $thickness: 8px) {
    width: $width;
    height: $width;
    color: currentColor;
    background-color: transparent;

    & > svg path {
        fill: none;
        stroke: currentColor;
        stroke-width: $thickness;
        stroke-linecap: round;
        d: path("M 20 20 l 60 0 z M 20 50 l 60 0 z M 20 80 l 60 0 z ");
        transition: 0.5s;
    }

    @at-root #{$checkbox_selector} {
        display: none;
        &:checked ~ label > svg {
            path {
                d: path("M 25 25 l 50 50 z M 40 50 l 20 0 z M 25 75 l 50 -50 z ");
            }
        }
    }
}

/// Responsive Navbar mixin
@mixin responsive-navbar(
    $navbar-height: 2rem,
    $navbar_scheme: default_navbar_scheme,
    $items_scheme: default_items_scheme,
    $dropdown_scheme: default_dropdown_scheme
) {
    //
    --a11y-transition-delay: 0.7s;

    $z_index: 1000;

    // scheme
    @include meta.apply(meta.get-mixin($navbar_scheme));

    // container
    $name: navbar-responsive-#{string.unique-id()};
    container-type: inline-size;
    container-name: $name;

    // layout
    position: relative;
    isolation: isolate;
    contain: layout;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $navbar-height;

    .hamburger-menu {
        display: none;
        z-index: $z_index + 3;
        height: 100%;
        cursor: pointer;
        @include hamburger-menu-icon("#hamburger-menu-trigger");
    }

    /// Navbar Menu State
    ul[class="links-container"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;

        & .home-link {
            margin-right: auto;
        }

        & li[class*="link"] {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            min-height: $navbar-height;
            padding: 0 0.8em;

            a {
                text-decoration: none;
                color: currentColor;

                &:not(:only-child)::after {
                    // parent's link arrow
                    display: inline-block;
                    content: "";
                    background-color: currentColor;
                    height: 1em;
                    width: 1em;
                    margin-inline-start: 0.2em;
                    clip-path: polygon(50% 80%, 20% 40%, 80% 40%);
                }
            }

            &:hover {
                & > ul {
                    // dropdown menu show up
                    transform: translate(0, 0);
                    opacity: 1;
                    transition:
                        opacity 0.5s 0s,
                        transform 0.5s 0s;
                    pointer-events: auto;
                }
            }

            @include meta.apply(meta.get-mixin($items_scheme));

            & ul {
                // dropdown menu default appearance
                display: block;
                position: absolute;
                z-index: $z_index + 3;
                top: 100%;
                width: 10em;
                left: 0;
                transform: translateY(10px);
                pointer-events: none;
                opacity: 0;
                transition:
                    opacity 0.5s var(--a11y-transition-delay),
                    transform 0.5s 0s;

                @include meta.apply(meta.get-mixin($dropdown_scheme));

                a {
                    &:not(:only-child)::after {
                        // parent's link arrow
                        position: absolute;
                        right: 0.5em;
                        clip-path: polygon(60% 70%, 20% 40%, 20% 100%);
                    }
                }

                .link {
                    background-color: inherit;
                    @include meta.apply(meta.get-mixin($items_scheme));
                    font-size: 0.9rem;

                    &:first-child::after {
                        // menu arrow
                        display: block;
                        content: "";
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        top: -5.5px;
                        left: 32px;
                        transform: rotate(45deg);
                        background-color: inherit;
                        cursor: pointer;
                        transition: 0.3s;
                        z-index: $z_index - 1;
                    }

                    &:first-child:hover::after {
                        transition: 0s;
                    }
                }

                & ul {
                    // dropdown sub-menu
                    top: 0;
                    left: 100%;
                    cursor: pointer;
                    transform: translateX(10px);

                    & .link:first-child::after {
                        // menu arrow
                        top: 10px;
                        left: -5.5px;
                    }
                }
            }
        }
    }

    /// Hamburger Menu State
    @container #{$name} (inline-size < 600px) {
        @at-root {
            @counter-style menu_indent {
                system: symbolic;
                symbols: \00A0;
                suffix: "";
            }
        }

        .hamburger-menu {
            display: initial;
        }

        #hamburger-menu-trigger:checked {
            & ~ .links-container {
                right: 0;
            }

            & ~ #overlay {
                height: 100dvb;
                width: 100dvi;
                position: absolute;
                top: 0;
                left: 0;
                z-index: $z_index + 1;
            }
        }

        ul[class="links-container"] {
            @include meta.apply(meta.get-mixin($dropdown_scheme));

            position: absolute;
            top: $navbar-height;
            right: -100%;
            z-index: $z_index + 2;
            width: 80%;
            height: calc(100dvb - $navbar-height);
            overflow-block: scroll;
            overscroll-behavior-block: contain;

            flex-direction: column;
            align-items: flex-start;
            transition: 0.75s ease-out;
            counter-reset: alinea 0;

            & li[class*="link"] {
                width: 100%;
                padding: 0;
                flex: 0 0 fit-content;
                flex-direction: column;

                a {
                    height: auto;
                    width: 100%;
                    padding: 1.5em 1em;
                    justify-content: flex-start;

                    &:not(:only-child)::after {
                        // parent's link arrow
                        position: absolute;
                        right: 0.5em;
                        clip-path: polygon(60% 70%, 20% 40%, 20% 100%);
                    }
                }

                & > ul,
                & > ul ul {
                    // dropdown menu
                    position: initial;
                    width: 100%;
                    transform: none;
                    box-shadow: none;
                    display: none;
                    background-color: hsl(from currentColor h s 20); // FIXME
                    counter-increment: alinea 1;

                    & .link {
                        &:first-child::after {
                            // menu arrow
                            top: -5.5px;
                            left: 32px;
                        }

                        & > a::before {
                            // link's indentation
                            display: inline-block;
                            content: counter(alinea, menu_indent);
                            letter-spacing: 0.5em;
                        }
                    }
                }

                &:hover {
                    & > ul {
                        display: initial;
                    }

                    & > a:not(:only-child)::after {
                        // parent's link arrow
                        clip-path: polygon(50% 80%, 20% 40%, 80% 40%);
                    }
                }
            }
        }
    }
}
