/* Layout */

/// classic text flow
@mixin flow {
    &>*+* {
        margin-block-start: var(--flow-space, 1em);
    }
}

/// evenly spaced flow
@mixin grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 1rem);
    justify-items: start;

    >* {
        margin: 0;
    }
}

///
@mixin grid-auto-fit {
    --min-column-size: 200px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}


///
@mixin flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--row-gap, .5rem) var(--column-gap, 1rem);
    align-items: var(--alignment, center);
    justify-content: var(--justification, start);
}