<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% partial "head", type %}

<body>
    <header class="bg-full">
        {% partial "header", type %}
    </header>

    <div class="page">
        <aside>
            {% partial "extra", type %}
        </aside>

        <nav aria-label="Breadcrumb">
            {% partial "breadcrumb", type %}
        </nav>

        <main>
            {% partial "content", type %}
        </main>

        <aside>
            {% partial "aside", type %}
        </aside>
    </div>

    <footer class="break">
        {% partial "footer", type %}
    </footer>
</body>

</html>