{# This is the default head's page content. #}
{% js 'dev' %}
{% include "../../../_assets/js/cssGridViewer/css-grid-viewer.js" %}
document.addEventListener("DOMContentLoaded", function() {
new CssGridViewer({
opacity: 0.8
});
});
{% endjs %}

<head>
    {# Common part to all pages #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Specific parts related to the type of the page to insert a title, a css or inline js #}
    {% block meta %}
    <title>{{ site[page.lang].name }}</title>
    {% if site[page.lang].description %}
    <meta name="description" content="{{ site[page.lang].description | truncate(150) | escape }}" />
    {% endif %}
    {% endblock %}

    {% block js %}
    <script src="{% getBundleFileUrl 'js', 'webc' %}"></script>
    <script type="module" src="{% getBundleFileUrl 'js', 'webcomponent' %}"></script>
    <script src="{% getBundleFileUrl 'js', 'dev' %}"></script>
    {% endblock %}

    {% block css %}
    <style>{% getBundle 'css', 'inline' %}</style>
    <link rel=" stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="{% getBundleFileUrl 'css' %}">
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'webc' %}">
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}" fetchpriority="low">
    {% endblock %}

    {# {% favicons "src/favicon.svg" %} #}
</head>