@use "@zero/zero";
@use "@zero/modules/navbar";

$min_scale: zero.scale_modular(18, zero.scale_ratio("minor_third"), 5, -2);
$max_scale: zero.scale_modular(20, zero.scale_ratio("major_third"), 5, -2);

:root {
    @include zero.fluid_scale_render(
        "fluid-fs-",
        $min_scale,
        $max_scale,
        320,
        1240,
        $use_px: true,
        $relative_to: "viewport"
    );
    /* */
    @include zero.scale_render("fix-fs-", zero.scale_modular(18px, zero.scale_ratio("minor_third"), 5, -2));
}

body {
    font-family: sans-serif;
    background-color: beige;
    margin-top: 1rem;
    // @include zero.layout-three-rows-page(1rem, 0);
    @include zero.layout-colgrid-system(
        $max-columns: 5,
        $min-width: 20ch,
        $col-gap: 1rem,
        $row-gap: 1rem,
        $inline-margin: 1rem,
        $content-max-width: 1400px,
        $breakout: 3rem,
        $subgrids: (
            ".page",
            "main",
            "article"
        )
    );
}

header {
    background-color: cadetblue;
    .menu > ul {
        @include zero.layout-flex-group();
    }
}

footer {
    background-color: coral;
}

body .columns {
    @include zero.layout-grid-columns(12ch, 1rem);
}

.test {
    background-color: rgb(154, 186, 186);
}

.navbar {
    @include navbar.nav();
}
